@model DEPI_Library.Models.Book

@{
    ViewData["Title"] = "Edit Book";
}

<div class="container mt-5">
    <h2 class="text-warning">✏️ Edit Book</h2>
    <form asp-action="Edit" method="post" class="mt-4">
        <input type="hidden" asp-for="BookId" />

        <div class="mb-3">
            <label for="Title" class="form-label">Book Title</label>
            <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required />
        </div>

        <div class="mb-3">
            <label for="Author" class="form-label">Author</label>
            <input type="text" class="form-control" id="Author" name="Author" value="@Model.Author" required />
        </div>

        <div class="mb-3">
            <label for="CategoryId" class="form-label">Category</label>
            @Html.DropDownListFor(
                     model => model.CategoryId,
                     (IEnumerable<SelectListItem>)ViewBag.Categories,
                     "Select Category",
                     new { @class = "form-select", required = "required" })
        </div>

        <button type="submit" class="btn btn-lg btn-warning px-4 py-2 shadow-lg rounded-pill w-100">Update Book</button>
    </form>
</div>
